<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">
	<resultMap id="bookMap" type="com.larkin.web.model.book.BookModel">
		<result column="auth_code" property="authCode" jdbcType="VARCHAR"/>
		<result column="channel" property="channel" jdbcType="INTEGER"/>
		<result column="period" property="period" jdbcType="INTEGER"/>
		<result column="bind_num" property="bindNum" jdbcType="INTEGER"/>
		<result column="last_modified" property="lastModified"/>
	</resultMap>

	<select id="getBookModel" parameterType="map" resultMap="bookMap">
		select * from book where auth_code=#{authCode};
	</select>

	<insert id="insertBookModel" useGeneratedKeys="true" keyProperty="collectionId" parameterType="com.larkin.web.model.book.BookModel">
		insert into book(auth_code, period,channel, bind_num, last_modified)
		VALUE (#{authCode},#{period},#{channel},#{bindNum},#{lastModified});
	</insert>

	<update id="increaseBindNum" parameterType="map">
		update book set bind_num=bind_num + #{num} where auth_code=#{authCode};
	</update>

	<insert id="bindBook2Device" parameterType="map">
		insert into book_bind_device(auth_code, device_id, ip,last_modified)
		values (#{authCode}, #{deviceId}, #{ip},#{lastModified});
	</insert>

    <select id="isBookBindDevice" parameterType="map" resultType="LONG">
        select count(1) from book_bind_device where auth_code=#{authCode} AND device_id=#{deviceId};
    </select>

</mapper>