<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="collection">
	<resultMap id="collectionMap" type="com.larkin.web.model.collection.CollectionModel">
		<result column="user_id" property="userId"/>
		<result column="model" property="model"/>
		<result column="url" property="url"/>
		<result column="vote" property="vote"/>
		<result column="last_modified" property="lastModified"/>
	</resultMap>

	<select id="getLastCollections" parameterType="map" resultMap="collectionMap">
		select * from collections order by last_modified DESC limit #{page}, #{size};
	</select>

	<insert id="insertBookModel" useGeneratedKeys="true" keyProperty="collectionId" parameterType="com.larkin.web.model.book.BookModel">
		insert into book(auth_code, period,channel, bind_num, last_modified)
		VALUE (#{authCode},#{period},#{channel},#{bindNum},#{lastModified});
	</insert>


</mapper>